body {
    background-color: #9D7CFF;
}
.block {
    display: inline-block;
    position: relative;
    text-align: center;
    width: calc(100% / 1.8);
    height: calc(100vh / 1.2);
    margin-left: calc((100% - (100% / 1.8)) / 2);
    margin-top: calc((100vh - (100vh / 1.2)) / 2);
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid black;
}
    .hero {
        padding-bottom: 20px;
        border-bottom: 1px solid #E1E2E4 ;
    }
        .close {
            position: absolute;
            left: 10px;
            top: 5px;
            width: 20px;
            height: 20px;
            background-color: #797A7C;
            color: #EAECEB;
            clip-path: circle();
            line-height: 20px;
        }
        .logo {
            width: calc(100% - 75%); 
            margin-top: 5px;
        }
